doc/
config/config.local.toml
vue-frontend/node_modules/
vue-frontend/.env*.local
vue-frontend/vue.config.local.js
.codex
bin/
vue-frontend/dist/
logs/
logger/
uploads/
.VSCodeCounter/
.gocache/

.claude/
