@config "../../../tailwind.config.js";
@import "tailwindcss";

@layer utilities {
  .glass {
    @apply backdrop-blur-md bg-bg-light/80 dark:bg-bg-dark/80;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
